.cart{

    &__inner{
        display: flex;
        min-height: calc(100vh - 82px - 1px) ;
    }
    
    &__content{
        flex-grow: 1;

        padding: 60px 80px;
    }
    &__sidebar{
		@include max-screen('1200px') {
			display: none;
		}

        flex-basis: 410px;
        flex-shrink: 0;
        border-left: 1px solid #CFCFCF;
    }
}