.stages-line{
    height: 45px;
    
    &__items{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        &-number{
            font-weight: 500;
            font-size: 10px;
            line-height: 1.5;
            letter-spacing: 0.2px;

            text-align: center;
            justify-content: center;

            min-width: 1.8em;
            height: 1.8em;
            border-radius: 1.8em;
            padding: 0 .45em;

            background-color: #fff;
            border: 1px #D5D5D5 solid;
            color: #D5D5D5;


            transition: color .25s, border-color .25s, background-color .25s;
            
            ._active &{
                border-color: #3366FF;
                color: #000;
            }

            ._done &{
                background-color: #3366FF;
                border-color: #3366FF;
                color: #fff;
            }
        }

        &-title{
            position: absolute;
            top: 100%;
            padding-top: 9px;
        }

        &-line{
            height: 1px;
            background-color: #D5D5D5;
            flex-basis: 100%;
            transition: background-color .25s;

            ._done + &{
                background-color: #3366FF;
            }
        }
        
            
        
    }
}