.header {
	padding: 26px 30px 23px;
	background-color: #fff;
	border-bottom: 1px solid #cfcfcf;

	display: flex;
	align-items: center;
	justify-content: space-between;

	&__logo {
		&-link {
			display: flex;
		}
		&-icon {
			width: 89px;
			height: 32px;
			display: flex;

			& > * {
				transition: fill 0.25s;
			}
		}

		&:hover &-icon > * {
			fill: #3366ff;
		}
	}

	&__menu {
		@include max-screen('1200px') {
			display: none;
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin: -5px -13px;
	}

	&__button {
		margin: 5px 13px;
		display: flex;

		fill: #000;

		&:hover {
			fill: #3366ff;
		}
	}

	&__icon {
		width: 24px;
		height: 24px;
		fill: inherit;

		& > * {
			transition: fill 0.25s;
			fill: inherit;
		}
	}

	&__burger {
		@include min-screen('1200px') {
			display: none;
		}
	}
}
