.card-input{
    background: #FFFFFF;
    border: 1px solid #CFCFCF;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    padding: 20px 30px 46px;
    width: 100%;
    max-width: 550px;

    &__input-title{
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;
        color: #555770;
        display: flex;
        align-items: center;
    }

    &__input{
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #000;
        padding: 8px 10px;
        background: #EDEDF1;
        border-radius: 3px;
        border: none;
        outline: none;
        width: 100%;


        &::placeholder{
            color: #8E90A6;
        }
    }

    &__inner{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
        row-gap: 20px;
    }

    &__group{

        &--full{
            grid-column: span 4;
        }
    }

    &__card-number{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
        row-gap: 20px;
    }
}